/* Basic styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: radial-gradient(circle at 25% 25%, #badb25, transparent 70%),
            radial-gradient(circle at 75% 75%, #9370db, transparent 70%);
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #ff6347;
    color: white;
    padding: 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 1rem;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1rem;
    flex: 1;
}

section {
    display: none;
}

section:target {
    display: block;
}

h2 {
    color: #ff6347;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

/* Responsive styles */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.5rem 0;
    }
}

@media (max-width: 480px) {
    header {
        padding: 0.5rem;
    }

    main {
        padding: 0.5rem;
    }

    footer {
        padding: 0.5rem;
    }
}